<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>distanceFilterIsOn</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		
		<dict>
			<key>DefaultValue</key>
			<string>http://leipeleon.dyndns.org/optocht/locations/create/</string>
			<key>Key</key>
			<string>mywebHost</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>Title</key>
	<string>AppPrefs</string>
</dict>
</plist>
