/* @override http://localhost:3000/stylesheets/optocht.css?1229782924 */

* { font-family: Arial,sans-serif; }

html {
	background: url(/images/2003002-mockup_header_filler.jpg) repeat-x;
	margin: 0px;
	padding: 0px;
}
body {
	/*background: url(/images/2003002-mockup_header.jpg) no-repeat center top;*/
	margin: 0px;
	padding: 0px;
}
.horbar {
	color: black;
	background-color: #FFFFE4;
	list-style-type: none;
}
.horbaritem {
	float: left;
	white-space: nowrap;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.horbaritem a {
	display: block;
	text-decoration: none;
}
.horbaritem a:link {
	color: #000000;
	text-decoration: none;
}
.horbaritem a:visited {
	color: #000000;
	text-decoration: none;
}
.horbaritem a:hover {
	color: #ffffff;
	background-color: #4b6983;
	text-decoration: none;
}
.horbaritem a:active {
	color: #ff0000;
	text-decoration: none;
}

.verbar	{
	color: black;
	background-color: #EDF2F5;
}

.submenu	{
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.subframe	{
	position: relative;
	display: block;
	background-color: #EDF2F5;
	border: 1px solid #64879d;
}

.item	{
	padding: 3px;
	text-align: left;
	white-space: nowrap;
}

.separator	{
	background-color: #ff0000;
	border-top: 1px solid #9e9a91;
	border-bottom: 1px solid #ffffff;
	margin: 2px 1px 2px 1px;    
	height: 0;
	font-size: 1px;
	line-height: 0
}

.item a	{
	position: relative;
	display: block;
	text-decoration: none;
}

.item a:link	{
	color: #000000;
	text-decoration: none;
}

.item a:visited	{
	color: #000000;
	text-decoration: none;
}

.item a:hover	{
	color: #ffffff;
	background-color: #4b6983;
	text-decoration: none;
}

.item a:active	{
	color: #ff0000;
	text-decoration: none;
}

.item .fwdarr	{
	position: absolute;
	top: 5px;
	right: 7px;
}

body, p, td, tr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #232323;
}

#credits,
#credits a,
#credits a:link,
#credits a:hover {
	font-size: 9px;
	text-decoration: none;
	color: #232323;
}

#pag_Title {
	font-size: 16px;
}

#pag_Title a,
#pag_Title a:link {
	text-decoration: none;
	color: #666666;
}


#news_list th {
	font-size: 11px;
}

#news_list td {
	font-size: 11px;
}

.lastedit
{
    	font-size: 9px;
}

h1, h2,h3,h4 {
	letter-spacing: 3px; 
	margin: 1.5em 0; 
	padding: 0; 
	font-variant:bold; 
	font-weight:bold; 
	font-family:Arial;
}

h1 {font-size: 165%; border-bottom:1px #69C solid;}
h2 {font-size: 135%; border-bottom:1px #690 solid; }
h3 {font-size: 115%; border-bottom:1px #C63 solid; }
h4 {font-size: 110%; border-bottom:1px #369 solid; }
h3.screenshot {margin: 0; }

h1.title {font: 48px Arial, Verdana, Helvetica, sans-serif; letter-spacing: 1px; margin: 0.66em 0 0.33em 3%; padding: 0; color: "#639CCE";}
h3.pullquote {font: 24px Arial, Verdana, Helvetica, sans-serif; letter-spacing: 1px; margin: 0.66em 240px 0 3%; padding: 0; color: rgb(0%,0%,0%);}
h3.blurb {font: 18px Arial, Verdana, Helvetica, sans-serif; letter-spacing: 1px; margin: 0.66em 240px 0 3%; padding: 0; color: rgb(0%,0%,0%);}

p {line-height: 1.44; margin: 0.5em 0 1em 0;}
li {line-height: 1.44; margin: 0 0 0 4em;}
p#screenshots {line-height: 1.44; margin: 0 0 0 0;}
p#screenshots-text {font: 7px Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0; background: rgb(100%,100%,100%); color: black;}
p.homepage {line-height: 1.44; margin: 0.5em 0 1em 0;}

a:link {color: blue;}
a:active {color: blue;}
a:visited {color: blue;}
a:hover {color: navy; background-color: #af0;}

div.center div {
	margin: 0px auto;
}

div.contentcol {
	margin: 0px auto;
	width: 800px;	
}

#footnote {
	letter-spacing: 0.1em;
	margin-bottom: 1em;
	padding-top: .5em;
	border-top:1px #6699CC solid;
}

div.title {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 170px;
	display: block;
}
div.title a img {
	display: block;
	margin: auto;
}

div.title h1 {
	display: none;
}

/* @group Menu*/
.hor_menu {
	list-style-type: none;
	border: 1px transparent solid;
	margin: 0px;
	padding: 0px;
}
.hor_menu * {
	margin: 0px;
	padding: 0px;
}
.hor_menu li {
}

.hor_menu li a {
	float: left;
	margin-right: 1em;
	background: #edeae2;
	padding: .3em .5em;
	border: 1px solid #d3d1cb;
}
.hor_menu li a:hover {
	background: #d3d1cb;
}
/* @end */