* { font-family: Arial,sans-serif; }

html {
	background: url(../images/header_filler_mobile.gif) repeat-x;
	margin: 0px;
	padding: 0px;
}
body {
	background: url(../images/header_mobile.gif) no-repeat center top;
	margin: 0px;
	padding: 0px;
	padding-top: 57px;
}
