
* { font-family: Arial,sans-serif; }

html {
	background: url(../images/header_filler_mobile.gif) repeat-x;
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

div.title a img {
	display: block;
	margin: auto;
}

/* Default Facebook CSS */  
.body  
{  
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    font-size: 11px;  
    color: #333333;  
}  
/* Default Anchor Style */  
.body a  
{  
    color: #3b5998;  
    outline-style: none;  
    text-decoration: none;  
    font-size: 11px;  
    font-weight: bold;  
}  
.body a:hover  
{  
    text-decoration: underline;  
}  
/* Facebook Box Styles */  
.greybox  
{  
    background-color: #f7f7f7;  
    border: 1px solid #cccccc;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.bluebox  
{  
    background-color: #eceff6;  
    border: 1px solid #d4dae8;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.infobox  
{  
    background-color: #fff9d7;  
    border: 1px solid #e2c822;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.errorbox  
{  
    background-color: #ffebe8;  
    border: 1px solid #dd3c10;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
/* Content Divider on White Background */  
.contentdivider  
{  
    margin-top: 15px;  
    margin-bottom: 15px;  
    width: 520px;  
    height: 1px;  
    background-color: #d8dfea;  
}  
/* Facebook Tab Style */  
.tab  
{  
    padding: 8px;  
    background-color: #d8dfea;  
    color: #3b5998;  
    font-weight: bold;  
    float: left;  
    margin-right: 4px;  
    text-decoration: none;  
}  
.tab:hover  
{  
    background-color: #3b5998;  
    color: #ffffff;  
    cursor: hand;  
}


h1, h2,h3,h4 {
	letter-spacing: 3px; 
	margin: 1.5em 0; 
	padding: 0; 
	font-variant:bold; 
	font-weight:bold; 
	font-family:Arial;
}

h1 {font-size: 120%; border-bottom:1px #69C solid; text-align: center;}
h2 {font-size: 110%; border-bottom:1px #690 solid; }
h3 {font-size: 105%; border-bottom:1px #C63 solid; }
h4 {font-size: 100%; border-bottom:1px #369 solid; }
#footnote {
	border-top:1px #369 dashed; 
	padding-top:1em;
	font-size: 75%;
}

a {
	display: inline-block;
	border: 1px solid #4f4f4f;
	padding: .5em 1.5em;
	margin: .3em;
	color:  black;
	background-color: #c5c5c5;
	border-radius: 5px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 25px;
	text-decoration: none;
}
a:hover {
	background-color: #a0a0a0;
	border-color: #000;
}
div#map * a,
div.title a {
	border: 0px solid;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}
a.img {
	border:  0px;
	margin: 0px;
	padding: 0px;
}
.lists th { text-align: left; padding: 5px 10px; background: #6d84b4; } 
.lists .spacer { background: none; border: none; padding: 0px; margin: 0px; width: 10px; } 
.lists th h4 { float: left; color: white; } 
.lists th a { float: right; font-weight: normal; color: #d9dfea; } 
.lists th a:hover { color: white; } 
.lists td { margin:0px 10px; padding:0px; vertical-align:top; } 
.lists .list { 
	background:white none repeat scroll 0%; 
	border-color:-moz-use-text-color #BBBBBB; 
	border-style:none solid; 
	border-width:medium 1px;
/*	border-right: 0px;*/
} 
/*.lists .last { 
	background:white none repeat scroll 0%; 
	border-color:-moz-use-text-color #BBBBBB; 
	border-style:none solid; 
	border-width-right:medium 1px;
} */
.lists .list .list_item { border-top:1px solid #E5E5E5; padding: 10px; } 
.lists .list .list_item.first { border-top: none; } 
.lists .see_all { background:white none repeat scroll 0%; border-color:-moz-use-text-color #BBBBBB rgb(187, 187, 187); border-style:none solid solid; border-width:medium 1px 1px; text-align:left; } 
.lists .see_all div { border-top:1px solid #E5E5E5; padding:5px 10px; }
.lists .list { padding: 5px;}
.lists tr.odd td.list { background-color:#F0F0FF; } 
.lists td.top3 {
	background-image: url('<%= image_path "top3bg.jpg" %>');
	background-position: 0 bottom;
	background-repeat: repeat-x;
	text-align: center;
	padding-bottom: 1em;
}
.lists td.top3 img {margin: 1em .9em .3em .9em;}
.list img {vertical-align: middle;}
.list .descrip { color:#444444; font-weight:normal; padding:3px 0 0 20px; }
.fbbluebox, .fbinfobox, .fberrorbox  {
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 1em;
}

.fbbluebox  
{  
    background-color: #eceff6;  
    border: 1px solid #d4dae8;  
    color: #333333;  
}  
.fbinfobox  
{  
    background-color: #fff9d7;  
    border: 1px solid #e2c822;  
    color: #333333;  
}  
.fberrorbox  
{  
    background-color: #ffebe8;  
    border: 1px solid #dd3c10;  
    color: #333333;  
}  
