* { font-family: Arial,sans-serif; }

html {
	background: url(../images/header_filler_mobile.gif) repeat-x;
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

div.title a img {
	display: block;
	margin: auto;
}

/* Default Facebook CSS */  
.body  
{  
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    font-size: 11px;  
    color: #333333;  
}  
/* Default Anchor Style */  
.body a  
{  
    color: #3b5998;  
    outline-style: none;  
    text-decoration: none;  
    font-size: 11px;  
    font-weight: bold;  
}  
.body a:hover  
{  
    text-decoration: underline;  
}  
/* Facebook Box Styles */  
.greybox  
{  
    background-color: #f7f7f7;  
    border: 1px solid #cccccc;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.bluebox  
{  
    background-color: #eceff6;  
    border: 1px solid #d4dae8;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.infobox  
{  
    background-color: #fff9d7;  
    border: 1px solid #e2c822;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.errorbox  
{  
    background-color: #ffebe8;  
    border: 1px solid #dd3c10;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
/* Content Divider on White Background */  
.contentdivider  
{  
    margin-top: 15px;  
    margin-bottom: 15px;  
    width: 520px;  
    height: 1px;  
    background-color: #d8dfea;  
}  
/* Facebook Tab Style */  
.tab  
{  
    padding: 8px;  
    background-color: #d8dfea;  
    color: #3b5998;  
    font-weight: bold;  
    float: left;  
    margin-right: 4px;  
    text-decoration: none;  
}  
.tab:hover  
{  
    background-color: #3b5998;  
    color: #ffffff;  
    cursor: hand;  
}


h1, h2,h3,h4 {
	letter-spacing: 3px; 
	margin: 1.5em 0; 
	padding: 0; 
	font-variant:bold; 
	font-weight:bold; 
	font-family:Arial;
}

h1 {font-size: 120%; border-bottom:1px #69C solid; text-align: center;}
h2 {font-size: 110%; border-bottom:1px #690 solid; }
h3 {font-size: 105%; border-bottom:1px #C63 solid; }
h4 {font-size: 100%; border-bottom:1px #369 solid; }
#footnote {
	border-top:1px #369 dashed; 
	padding-top:1em;
	font-size: 75%;
}