/* @override http://localhost:3000/stylesheets/twitter.css?1234050126 */
div.contentcol {
	margin: 0px auto;
	width: 100%;	
}


.status-btn {
	float: left;
	padding: 5px 10px 0 5px;
}
.status-btn input.round-btn {
	width: 115px;
	height: 32px;
	border: 0;
	color: #666;
	font-size: 14px;
	margin-left: 3px;
}
.status-btn input.round-btn:hover {
	width: 115px;
	height: 32px;
	border: 0;
	color: #444;
	font-size: 14px;
	margin-left: 3px;
}
.status-btn input.disabled,.status-btn input.disabled:hover {
	color: #aaa;
	cursor: default;
}

.status-btn input.round-btn {
	background: url('http://static.twitter.com/images/round-btn.gif'); 
}
.status-btn input.round-btn:hover { 
	background: url('http://static.twitter.com/images/round-btn-hover.gif'); 
}
#countdown, #countdown font {
	font-size: 24px; 
	font-family: Georgia; 
	margin-right: .4em;
}
#tweet {
	display: inline-block; 
	clear: both;
	/*border: 1px solid red;*/
}
#tweet_text {
	border: 1px solid #ccc;
	font-size: 150%;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	list-style-type: none;
	border-top: 1px solid grey;
}
li span {
	font-size: 14px;
	float: right;
}