<h2 style="text-align:center;">Over deze website</h2>
<p>
	Deze website is een product van <a href="http://beriedata.nl">BerieData.nl</a> ontwikkeld in opdracht van 
	Optochtcommissie <a href="http://pampus-lollebroek.nl">De Lollebroek-Pampus</a>
</p>

<h3>Hoe werkt het?</h3>
<p>
	Doormiddel van de GPS functie in de iPhone wordt er elke keer als de 
	locatie verandert een locatie update naar de webserver gestuurd. 
</p>

<h3>Kan ik mijn positie sturen?</h3>
<p>
	Helaas nu nog niet.
</p>

<h3>Gebruikte technologieën:</h3>
<ul>
	<li>Ruby On Rails</li>
	<li>iPhone GPS met custom software</li>
	<li>Google Maps</li>
</u|>
