<h2 style="text-align:center;">Home</h2>
<table>
	<tr>
		<th width="50%"><%= link_to 'Plaatje', static_locations_path %></th>
		<th width="50%"><%= link_to 'Live', locations_path %></a></th>
	</tr>
	<tr>
		<td style="text-align:center;"><%= link_to image_tag('Kop_Optocht_Static.gif'), static_locations_path, :class => "img" %></td>
		<td style="text-align:center;"><%= link_to image_tag('Kop_Optocht_Live.gif'), locations_path, :class => "img" %></td>
	</tr>
	<tr>
		<td style="text-align:center;">Snel en klein bestand <br/>(+/- 24Kb)</td>
		<td style="text-align:center;">Interactief, grotere download <br/>(+600Kb)<br/>Automatische update elke minuut.</td>
	</tr>
	<tr>
		<td style="background:#ddd;" colspan="2"> </td>
	</tr>
	<tr>
		<th colspan="3">Twitter</th>
	</tr>
	<tr>
		<td style="text-align:center;" colspan="2">
			<a href="twitter/">Live Stream</a>
		</td>
	</tr>
</table>
