<% content_for("header") do %>
	<%= javascript_include_tag 'twitter_search' %> 
	<%= stylesheet_link_tag 'twitter_search' %>
<% end %>
<h2>Twitter Live Stream</h2>
<p>Als je in deze stream tevoorschijn wil komen voeg dan <strong><span style="color: blue;">#optocht</span></strong> aan je tweet toe.</p>
<script type="text/javascript" charset="utf-8">
  TwitterSearch.search('#optocht');
</script>
