<% content_for("header") do %>
	<%= stylesheet_link_tag 'twitter' %> 
<script language="javascript" type="text/javascript">
function limitText(limitField, limitNum) {
	if (limitField.value.length == 0) {
		document.getElementById('update_submit').disabled = true;
	}
	if (limitField.value.length > limitNum) {
		// limitField.value = limitField.value.substring(0, limitNum);
		document.getElementById('countdown').innerHTML = '<font color="red" face="Georgia">' + (limitNum - limitField.value.length) + '</font>';
		document.getElementById('update_submit').disabled = true;
	} else {
		document.getElementById('countdown').innerHTML = limitNum - limitField.value.length;
		document.getElementById('update_submit').disabled = false;
	}
}
</script>
<% end  %>


<div id="tweet">
<% form_for(:tweet, :url => {:action => :create }, :html => {:id => "tweet_form"}) do |f| %>
	<div id="countdown">140</div>
	<%= f.text_area :text, :value => '', :max => 140, 
	:onKeyDown => "limitText(this.form.tweet_text,140);",
	:onKeyUp   => "limitText(this.form.tweet_text,140);",
	:rows => 2, :cols => 60
	 %>
	<div class="status-btn">
		<input type="submit" name="update" value="Verzend" disabled="true" id="update_submit" class="status-btn round-btn"/>
	</div>
</form>
<% end %>
</div>
<script language="javascript" type ="text/javascript">
// limitText(document.forms[0].tweet_text,140);
document.forms[0].tweet_text.focus();
</script>