<%= render :partial => "new.iphone" %>
<ul>
<% @tweets.each { |tweet| %>
	<li><span>(<%= distance_of_time_in_words(Time.now, tweet.created_at, include_seconds = false) %>)</span><%= tweet.text %></li>
<% } %>
</ul>